.navList {
  display: flex;
  align-items: center;
}

.navList__item {
  text-align: center;
  margin-right: 20px;

  border-radius: 10px;
  transition: transform 150ms linear;
}

.navList__item:nth-child(3) {
  margin-left: auto;
}

.navList__item:last-child {
  margin: 0;
}

.navList__link {
  opacity: 0.6;
  font-size: 18px;
  transition: opacity 150ms linear;
}

.navList__link:hover {
  opacity: 1;
}

.navList__link:active {
  opacity: 1;
}
